.slide1 .description {
    padding-top: 130px;
    font-size: 18px; 
    padding-left: 156px;
    padding-right: 24px;
}

.slide1 .link {
    padding-top: 5px;
    font-size: 20px; 
    padding-left: 154px;
}

.slide2 .description {
    padding-top: 70px;
    font-size: 18px; 
    padding-left: 149px;
    padding-right: 260px;
}

.slide2 .link {
    padding-top: 5px;
    font-size: 18px; 
    padding-right: 110px;
}

.slide3 .description {
    padding-top: 50px;
    font-size: 18px; 
    padding-left: 70px;
    padding-right: 300px;
}

.slide3 .link {
    padding-top: 5px;
    font-size: 18px; 
    padding-right: 230px;
}

/* Mobile Optimization */
@media (max-width: 640px) {

    /* Adjusting padding for better centering and scale on smaller screens */
    .slide1 .description {
        padding-left: 34vw;
        padding-right: 2vw;
        font-size: 12px;
        padding-top: 52vw;
    }

    .slide1 .link{
        padding-left: 36vw;
        padding-right: 2vw;
        font-size: 12px;
    }

    .slide2 .description {
        padding-left: 3vw;
        padding-right: 52vw;
        font-size: 8;
        padding-top: 76vw;
    }

    .slide2 .link{
        padding-left: 3vw;
        padding-right: 52vw;
        font-size: 8;
    }

    .slide3 .description {
        padding-left: 2vh;
        padding-right: 32vw;
        font-size: 8;
        padding-top: 6vh;
    }

    .slide3 .link{
        padding-left: 2vw;
        padding-right: 32vw;
        font-size: 8;
    }

}
